@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/rubik-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/rubik-v10-latin-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: 
         url('../fonts/rubik-v10-latin-300.woff2') format('woff2'), 
         url('../fonts/rubik-v10-latin-300.woff') format('woff');
  }

  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: 
         url('../fonts/rubik-v10-latin-500.woff2') format('woff2'),
         url('../fonts/rubik-v10-latin-500.woff') format('woff');
  }

  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: 
         url('../fonts/rubik-v10-latin-600.woff2') format('woff2'),
         url('../fonts/rubik-v10-latin-600.woff') format('woff');
  }

  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/mulish-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.header-top {
    padding: 30px;
    background: #F6F6F6;
}

.container {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.inner {
    display: flex;
    align-items: center;
}

.inner-link-img {
    margin-right: 29px;
    text-decoration: none;
    width: 276px;
    height: 45px;
}

.inner-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
}

.inner-list-item {
    margin-right: 25px;
    font-weight: 400;
}

.inner-list-item-span {
    color: #2959CE;
    font-weight: 700;
}

.inner-img {
    margin-right: 25px;
}

.inner-languages {
    margin-right: 25px;
    width: 81px;
    height: 36px;
    background: #DCE6FF;
    border-radius: 39px;
    padding: 3px;   
}

.inner-languages-uz {
    font-weight: 400;
    font-size: 13px;
    width: 30px;
    height: 30px;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

.inner-languages-ru {
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    line-height: 30px;
    text-decoration: none;
    color: #A6A6A6;
}

.log {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 20px;
    text-decoration: none;
    background: #7296EC;
    border-radius: 10px;
    color: #fff;
    transition: 0.3s;
}

.log:hover {
    background-color: #fff;
    color: #2959CE;
    cursor: pointer;
}

/* HEADER-TOP-QISMI-TUGADI */

.nav-list {
    padding: 30px 0;
    border-bottom: 1px solid #D1D1D1;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.list-item-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7F7F7F;
    transition: 0.2s;
}

.list-item-link:hover{
    color: #7296ec;
}


/* HEADER-CENTER-QISMI-TUGADI */

.header-bottom-link {
    display: flex;
}

.header-bottom-img {
    margin-top: 40px;
    /* text-align: center; */
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
}

/* HEADER-BOTTOM-QISMI-TUGADI */

.content {

    margin-bottom: 60px;
}

.content-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.content-list-item {
    margin-bottom: 10px;
    width: 376px;
    background: #F6F6F6;
    border-radius: 15px;
    padding: 20px 17px 15px;
    margin-right: 10px;
    transition: 0.4s;
}

.content-list-item:nth-child(3) {
    margin-right: 0;
}

.content-list-item:nth-child(6) {
    margin-bottom: 0;
    margin-right: 0;
}

.content-list-item:hover {
    background-color: #7296EC;
    cursor: pointer;
}

.info-div {
    width: 314px;
    text-align: left;
}

.content-list-item-title {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    line-height: 26px;
    margin: 0;
    margin-bottom: 10px;
    transition: 0.3s;
}

.content-list-item:hover .content-list-item-title {
    color: #fff;
}

.content-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
    margin: 0 0 15px 0;
    transition: 0.3s;
}

.content-list-item:hover .content-list-item-text {
    color: #ffffffb3;
}

.content-list-item-img {
    width: 341px;
    margin-bottom: 10px;
}

.content-list-item-profile {
    display: flex;
    align-items: center;
}

.content-list-item-profile-img {
    margin-right: 10px;
}

.content-list-item-profile-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}

.content-list-item:hover .content-list-item-profile-info {
    color: #fff;
}

.content-bottom-link {
    display: flex;
    justify-content: center;
}

/* CONTENT-QISMI-TTUGADI */

.hero {
    margin-bottom: 100px;
}

.div-link {
    text-decoration: none;
    color: #000;
}

.hero-title {
    margin-bottom: 20px;
    margin-top: 0;
}

.hero-main {
    display: flex;
    align-items: flex-start;
}

.hero-list {
    display: flex;
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
}

.hero-list-item {
    display: flex;
    padding: 20px;
    margin-top: 0;
    background: #F6F6F6;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 797px;
    transition: 0.3s;
}


.hero-list-item:hover {
    background-color: #7296EC;
    color: #fff;
    cursor: pointer;
}

.item {
    border-bottom: none;
}

.hero-list-item:nth-last-child(-n+1) {
    margin-bottom: 0;
}

.hero-list-item-click {
    cursor: pointer;
    width: 796px;
    background: #EAEAEA;
    border-radius: 10px;
    padding: 17px 343px;
}

.hero-list-item-img {
    margin-right: 15px;
}

.hero-list-item-infoprofile {
    width: 535px;
}

.hero-list-item-info {
    margin-bottom: 17px;
}

.hero-list-item-info-title {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.hero-items-item-title:hover {
    color: #2d1c1c;
}

.hero-list-item-info-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.hero-list-item-profile {
    display: flex;
    align-items: center;
}

.hero-list-item-profile-logo {
    margin-right: 10px;
}

.hero-list-item-profile-info {
    margin: 0;
}

.hero-list-item-click-link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/* hero-right-qismi */


.hero-items {
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 20px 20px 25px 17px;
    flex-direction: row;
}

.hero-items-item {
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 10px;
    padding-top: 10px;
}

.hero-items-item:nth-last-child(n+4) {
    padding-top: 0px;
}

.hero-items-item:last-child {
    border-bottom: none;
}

.hero-items-main {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.hero-items-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}

.hero-items-item-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    margin: 0;
}


/* hero-qismi-tugadi */



/* 2-Page stillari */


.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.large-box {
    display: flex;
    justify-content: center;
}

.header {
    margin-bottom: 50px;
}

.header-top {
    padding: 30px;
    background: #F6F6F6;
}

.container {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.inner {
    display: flex;
    align-items: center;
}

.inner-link-img {
    margin-right: 29px;
    text-decoration: none;
    width: 276px;
    height: 45px;
}

.inner-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
}

.inner-list-item {
    margin-right: 25px;
    font-weight: 400;
}

.inner-list-item:nth-child(2) {
    margin-right: 0;
}

.inner-list-item-span {
    color: #2959CE;
    font-weight: 700;
}

.inner-img {
    margin-right: 25px;
}

.inner-languages {
    margin-right: 25px;
    width: 81px;
    height: 36px;
    background: #DCE6FF;
    border-radius: 39px;
    padding: 3px;   
}

.inner-languages-uz {
    font-weight: 400;
    font-size: 13px;
    width: 30px;
    height: 30px;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

.inner-languages-ru {
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    line-height: 30px;
    text-decoration: none;
    color: #A6A6A6;
}

.log {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 20px;
    text-decoration: none;
    background: #7296EC;
    border-radius: 10px;
    color: #fff;
    transition: 0.3s;
}

.log:hover {
    background-color: #fff;
    color: #2959CE;
    cursor: pointer;
}

/* HEADER-TOP-QISMI-TUGADI */


.content-left {
    border-bottom: 1px solid #d2d2d2;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.content-left-box {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.content-left-box-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5E5F61;
}

.content-left-box-text {
    margin: 0;
}

.content-left-info {
    width: 797px;
    margin: 0 0 20px 0;
}

.text {
    width: 797px;
    margin-bottom: 30px;
}

.content-text {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* content-qismi-tugadi */

.div-link {
    text-decoration: none;
    color: #000;
}

.widget {
    margin-bottom: 100px;
}

.widget-holder-title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px;
}

.widget-holder-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.widget-holder-list-item {
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    padding: 20px 38px 10px 17px;
    margin-right: 10px;
}

.widget-holder-list-item:nth-child(3) {
    margin-right: 0;
}

.widget-holder-list-item-title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
}

.widget-holder-list-item-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #5E5F61;
}

.widget-holder-box {
    display: flex;
    align-items: center;
}

.widget-holder-box-img {
    margin-right: 10px;
}

.widget-holder-box-link {
    text-decoration: none;
    color: #5E5F61;
}


/* widget-qidmi-tugadi */

.footer-block {
    background: #7297EF;
}

.wrapper {
    width: 998px;
    margin: 0 auto;
    padding-top: 40px;
}


.wrapper-center {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #CECECE;
}

.box-text {
    width: 400px;
}

.wrapper-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
}

.wrapper-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper-list-item {
    margin-bottom: 20px;
}

.wrapper-list-item:nth-child(4) {
    margin-bottom: 0;
}

.wrapper-list-item-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 40px;
}

.strong {
    width: 145px;
}

.wrapper-bottom-strong {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.wrapper-bottom-list {
    display: flex;
    align-items: end;
    list-style: none;
}

.wrapper-bottom-list-item {
    margin-right: 28px;
}

.wrapper-bottom-list-item:nth-child(4) {
    margin-right: 0;
}



